<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">


<dict>
<key>Label</key>
<string>org.zabbix.zabbix_agent</string>
<key>RunAtLoad</key>
<true/>
<key>ProgramArguments</key>

<array>
<string>sh</string>
<string>/usr/local/etc/startzabbix.sh</string>
</array>
</dict>
</plist>
